* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: auto;
}

/* 
    Header 
*/

header {
  height: 100px;
  color: #fff;
  background-color: #000;
}

header .container {
  display: flex;
  align-items: center;
  height: 100px;
}

.logo {
  width: 80px;
}

.logo-img {
  width: 60px;
  height: 60px;
  padding: 22px 0;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  background-color: #B28756;
}

/* 
    Menu 
*/

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li a {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 10px;
  border-bottom: 5px solid #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid #B28756;
  color: #ccc;
  transition: all .8s ease;
}

/* 
    Main 
*/

.button {
  display: inline-block;
  padding: 13px 43px;
  border: 2px solid #B28756;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #B28756;
  transition: all .8s ease;
}

.button:hover {
  font-weight: bold;
  color: #B28756;
  background-color: transparent;
}

.sliders-pointers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 30px;
}

.pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: all .3s ease;
}

.pointer:hover,
.pointer.active {
  background-color: #B28756;
}

/* 
    Banner area
*/

.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 300vw;
  height: 100%;
}

.banner .slide {
  display: inline-block;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 64px;
  transition: all .8s ease;
}

.banner h1 span {
  color: #B28756;
}

.banner h2 {
  margin-top: 10px;
  font-size: 22px;
  text-transform: uppercase;
  transition: all .8s ease;
}

.banner .sliders-pointers {
  position: absolute;
  width: 100vw;
  margin-top: -65px;
}

/* 
    Default section
*/

.default {
  padding: 50px 0;
}

.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.default .section-title {
  font-size: 20px;
}

.default .section-desc {
  margin: 8px 0 40px 0;
  font-size: 10px;
  color: #bbb;
}

.default.light {
  background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .container {
  color: #000;
}

.default.dark {
  background-color: #000;
}

.default.dark .section-title,
.default.dark .container {
  color: #fff;
}

.default.white {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
}

/* *** */

/* 
    About Us section
*/

.section-aboutus {
  display: flex;
  height: 320px;
}

.aboutus-left {
  flex: 1;
}

.aboutus-left p {
  line-height: 1.5;
}

.aboutus-left .button {
  margin-top: 10px;
}

.aboutus-right {
  position: relative;
  width: 520px;
  height: 300px;
  text-align: center;
}

.aboutus-right img {
  max-width: 480px;
  box-shadow: 0 5px 10px rgba(51, 51, 51, 0.74);
}

.play-video {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
}

.play-video::before {
  content: 'Watch';
  width: 100%;
  text-align: right;
  font-size: 32px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

.play-video::after {
  content: 'Video!';
  width: 100%;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 10px 0 10px;
  font-size: 100px;
  color: #f7f7f7;
  cursor: pointer;
}

.play-arrow {
  width: 30px;
  height: 30px;
  border: 17px solid;
  border-color: transparent transparent transparent #fff;
  margin-left: 20px;
}

/*
    Services section
*/

.section-services {
  display: flex;
}

.service {
  flex: 1;
  text-align: center;
  padding: 20px;
  border-left: 1px solid #444;
}

.service:last-child {
  border-right: 1px solid #444;
}

.service h4 {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 18px;
}

.service p {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1.7;
  color: #999;
}

/*
    Projects section
*/

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
    Filters menu
*/

.projects-filters {
  display: inline-block;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #eee;
}

.projects-filters li {
  display: inline-block;
  padding: 15px 20px;
  border-right: 1px solid #ccc;
  border-bottom: 3px solid #eee;
  font-size: 13px;
  color: #333;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}

.projects-filters li:last-child {
  border-right: 0;
}

.projects-filters li:hover,
.projects-filters li.active {
  border-bottom: 3px solid #B28756;
  transition: all .8s ease;
}

/*
    Photos area
*/

.projects-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  max-width: 1140px;
  margin-top: 50px;
}

.photo {
  width: 260px;
  margin-bottom: 30px;
}

.photo-area {
  width: inherit;
  height: 160px;
}

.photo-area img {
  width: 100%;
  height: 100%;
}

.photo-info {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: default;
}

.photo-info h5 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.photo-info p {
  font-size: 13px;
  line-height: 1.5;
  color: #eee;
}

.photo-area:hover .photo-info {
  display: flex;
}

/*
    Team section
*/

.bg-team {
  background-image: url('../../media/foto10.jpg');
  background-size: contain;
  padding: 0;
}

.section-team-area {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 0;
}

.section-team {
  margin: auto;
  max-width: 900px;
  overflow: hidden;
}

.section-team .sliders {
  width: 300vw;
  height: 100%;
}

.section-team .slide {
  display: inline-block;
  width: 275px;
  height: 100%;
  min-height: 300px;
  background-color: #fff;
  margin-right: 30px;
  cursor: default;
}

.section-team .slide-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px;
  color: #333;
}

.section-team-area .sliders-pointers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 30px;
}

.section-team-area .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: all .3s ease;
}

.section-team-area .pointer:hover,
.section-team-area .pointer.active {
  background-color: #B28756;
}

.team-avatar {
  width: 150px;
  height: auto;
}

.team-name {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.team-role {
  margin-top: 5px;
  font-size: 12px;
}

.team-social {
  display: flex;
  margin-top: 30px;
}

.team-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #ccc;
  transition: all .5s ease;
}

.team-social a:hover {
  background-color: #B28756;
}

/*
    Clients area
*/

.section-clients {
  overflow: hidden;
}

.section-clients .sliders {
  width: 1000vw;
  height: 100%;
}

.section-clients .slide {
  display: inline-block;
  width: 100vw;
  height: 100%;
}

.section-clients .slide-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 700px;
  text-align: center;
  height: 100%;
}

.client-avatar {
  width: 130px;
  margin-bottom: 20px;
}

.client-name {
  color: #111;
  font-size: 18px;
  margin-bottom: 8px;
}

.client-role {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.client-quote img {
  margin: 30px 0 10px 0;
}

.client-quote p {
  font-size: 13px;
  line-height: 1.8;
  color: #444;
}

/*
    Sponsors section
*/

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sponsors img {
  width: 80px;
  margin: 0 40px;
}

/*
    Price section
*/

.section-price {
  display: flex;
}

.pack {
  flex: 1;
  text-align: center;
  padding: 30px 50px;
  margin-right: 30px;
  background-color: #fff;
}

.pack:last-child {
  margin-right: 0;
}

.section-price .title {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.section-price .price {
  margin: 15px;
}

.section-price .price h4 {
  font-size: 26px;
  color: #333;
}

.section-price .price span {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: #444;
}

.benefits hr {  
  margin: 5px 0;
  width: 10px;
}

.section-price .button {
  border: none;
  background-color: #333;
}

.section-price .button:hover {
  font-weight: 600;
  color: #fff;
  background-color: #B28756;
}

/*
    More Features area
*/

.more-features .sliders {
  width: 1000vw;
  height: 100%;
}

.more-features .slide {
  display: inline-block;
  width: 100vw;
  height: 100%;
}

.more-features .slide-area {
  margin: auto;
  max-width: 1040px;
  height: 100%;
}

.features-product {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.feature {
  display: flex;
  align-items: flex-start;
  margin: 30px 0 0 80px;
}

.box-image {
  padding-left: 50px;
}

.feature-description {
  margin-left: 20px;
}

.feature-description h4 {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.feature-description p {
  font-size: 14px;
  line-height: 1.7;
  color: #888;
}

.feature-description li {
  margin-top: 8px;
  font-size: 14px;
  text-transform: uppercase;
  list-style: none;
  color: #888;
}

.features-below {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-below .button {
  margin-top: 40px;
}

/* Facts section */

.section-facts {
  display: flex;
}

.fact {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 50px;
}

.fact h1 {
  font-size: 40px;
  color: #B28756;
}

.fact hr {
  width: 15px;
  margin: 2px 0 5px 0;
}

.fact h4 {
  text-transform: uppercase;
  font-size: 15px;
}

.fact p {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1.7;
  color: #999;
}