* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: auto;
}

/* 
    Header 
*/

header {
  height: 100px;
  color: #fff;
  background-color: #000;
}

header .container {
  display: flex;
  align-items: center;
  height: 100px;
}

.logo {
  width: 80px;
}

.logo-img {
  width: 60px;
  height: 60px;
  padding: 22px 0;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  background-color: #B28756;
}

/* 
    Menu 
*/

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li a {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 10px;
  border-bottom: 5px solid #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid #B28756;
  color: #ccc;
}

/* 
    Main 
*/

/* 
    Banner area
*/

.button {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #B28756;
}

.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 1000vw;
  height: 100%;
}

.banner .slide {
  display: inline-block;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 64px;
}

.banner h1 span {
  color: #B28756;
}

.banner h2 {
  margin-top: 10px;
  font-size: 22px;
  text-transform: uppercase;
}

.banner .sliders-pointers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 20px;
  margin-top: -40px;
}

.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.banner .pointer.active {
  background-color: #B28756;
}

/* 
    Default section
*/

.default {
  padding: 50px 0;
}

.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.default .section-title {
  font-size: 20px;
}

.default .section-desc {
  margin: 8px 0 40px 0;
  font-size: 10px;
  color: #bbb;
}

.default.light {
  background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .container {
  color: #000;
}

.default.dark {
  background-color: #000;
}

.default.dark .section-title,
.default.dark .container {
  color: #fff;
}

/* *** */

/* 
    About Us section
*/

.section-aboutus {
  display: flex;
  height: 320px;
}

.aboutus-left {
  flex: 1;
}

.aboutus-left p {
  line-height: 1.5;
}

.aboutus-left .button {
  margin-top: 10px;
}

.aboutus-right {
  position: relative;
  width: 520px;
  height: 300px;
  text-align: center;
}

.aboutus-right img {
  max-width: 480px;
  box-shadow: 0 5px 10px rgba(51, 51, 51, 0.74);
}

.play-video {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
}

.play-video::before {
  content: 'Watch';
  width: 100%;
  text-align: right;
  font-size: 32px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

.play-video::after {
  content: 'Video!';
  width: 100%;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 10px 0 10px;
  font-size: 100px;
  color: #f7f7f7;
  cursor: pointer;
}

.play-arrow {
  width: 30px;
  height: 30px;
  border: 17px solid;
  border-color: transparent transparent transparent #fff;
  margin-left: 20px;
}

/*
    Services section
*/

.section-services {
  display: flex;
}

.service {
  flex: 1;
  text-align: center;
  padding: 20px;
  border-left: 1px solid #444;
}

.service:last-child {
  border-right: 1px solid #444;
}

.service h4 {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 18px;
}

.service p {
  margin-top: 10px;
  font-size: 13px;
  color: #777;
}

/*
    Projects section
*/

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
    Filters menu
*/

.projects-filters {
  display: inline-block;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #eee;
}

.projects-filters li {
  display: inline-block;
  padding: 15px 20px;
  border-right: 1px solid #ccc;
  border-bottom: 3px solid #eee;
  font-size: 13px;
  color: #333;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}

.projects-filters li:last-child {
  border-right: 0;
}

.projects-filters li:hover,
.projects-filters li.active {
  border-bottom: 3px solid #B28756;
}

/*
    Photos area
*/

.projects-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  max-width: 1140px;
  margin-top: 20px;
}

.photo {
  width: 280px;
}

.photo-area {
  width: 255px;
  height: 160px;
  margin: 13px;
}

.photo-area img {
  width: inherit;
  height: inherit;
}

.photo-info {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: default;
}

.photo-info h5 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.photo-info p {
  font-size: 13px;
  line-height: 1.5;
  color: #eee;
}

.photo-area:hover .photo-info {
  display: flex;
}